.expeditions{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
.expeditions>section{
    margin: 0px;
    margin-top: 14px;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    width: 900px;
    background-color: lightgray;
    border-radius: 20px;
    overflow: hidden;
}
.expeditions h2{
    text-align: left;
}
.expeditions article{
    width: 500px;
    margin-left: 8px;
}
.button{
    background-color: purple;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    text-align:center;
    padding: 8px;
    flex-wrap: wrap;
    width: 100%;
}
/* .expoFilters{
    display: flex;
    width: 350px;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: lightgray;
}
.expoFilters>ul{
    background-color:black;
    left:0px;
    top:0px;
    list-style-type:none;
    margin:0px;
    flex-direction: column;
    padding:0px;
    display: flex;
}
.expoFilters>ul>li {
    font-size: 16px;
    padding:8px;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align:center;
}
.sorting{
    align-content: flex-end;
}
.expoFilters>ul>li:hover {
    background-color:purple;
}*/