.aboutNav{
    width: 450px;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: darkgray;
}
.aboutNav>ul{
    background-color:black;
    left:0px;
    top:0px;
    list-style-type:none;
    margin:0px;
    padding:0px;
}
.aboutNav>ul>li>a {
    font-size: 16px;
    padding:8px;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align:center;
    display:block;
}.about{
    width: 1400px;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: lightgray;
}
.about>section{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 12px;
    margin:6px;
    justify-content: flex-start;
}
.about>section>p{
    width: 900px;
}
.aboutNav>ul>li>a:hover {
    background-color:purple;
}
.aboutNav .active{
    background-color:gray;
}
.about article{
    display: flex;
}
.about h2{
    text-align: center;
}
.aboutGuides article {
    max-width: 220px;
    margin-left: 8px;
    padding: 0px;
    flex-wrap: wrap;
    border-right: 4px solid black;
}
.aboutGuides h3{
    margin: 0px;
}
.aboutGuides h4{
    margin: 0px;
}
.aboutGuides h5{
    margin: 0px;
}
.aboutGuides p{
    margin-left:12px;
}